<div class="container">
    <form action="/artist" method="GET" id="form">
        <label for="artist">Type in artist name</label>
        <input type="text" name="artist" required id='input'>

        <button type="submit" id="submit-btn">Search for artist</button>
    </form>
</div>

<script>
    document.getElementById('input').focus();
</script>